@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4"><strong>APP_NAME:</strong> "@ViewData["APP_NAME"]"</h2>
    <h2 class="display-4"><strong>MACHINE_NAME:</strong> "@ViewData["MACHINE_NAME"]"</h2>
    <h2 class="display-4"><strong>REQUEST_HOST:</strong> "@ViewData["REQUEST_HOST"]"</h2>
    <h2 class="display-4"><strong>REQUEST_PATH:</strong> "@ViewData["REQUEST_PATH"]"</h2>
</div>
